@use "../../abstracts" as *;

  .search-section__title,
  .search__description,
  .search__group {
    margin-bottom: $gap;
  }

  .search__wrapper {
    margin-bottom: $gap-x3;
  }

  .search__label-input {
    display: block;
    margin-bottom: $gap-sm;
  }

  .search__input {
    display: block;
    background-color: $color-input;
    height: 2rem;
    max-width: 300px;
    width: 100%;
    padding: 0.1em 0.5em;
    border: none;
    font-size: $font-size;
  }

  .search__input:focus {
    outline: 2px solid $color-accent-pink;
  }

  .search__group--checkbox {
    display: flex;
    gap: $gap-sm;
    align-items: center;
  }

  .search__input-checkbox {
    width: 28px;
    height: 28px;
    accent-color:$color-accent-pink;
  }

  .search__label-checkbox {
    user-select: none;
  }

  .search-result-section__title {
    margin-bottom: $gap;
  }