body {
  color: rgb(225, 225, 221);
  background-color: #211f1f;
}

.header {
  display: flex;
  background-color: #e50707;
}

.header__menu {}

.header__logo {}

.header__logo-link {
  text-decoration: none;
}

.header__logo-image {}

.header__title {
  text-decoration: none;
}

.header__navbar {}

.header__navbar-list {}

.header__navbar-item {}

.header__navbar-link {
  text-decoration: none;
}

.main {}

.search-section {}

.search-section__title {}

.search__description {}

.search__container {}

.search__group {}

.search__group--input {}

.search__label-input {}

.search__input {}

.search__group--checkbox {}

.search__label-checkbox {}

.search-result-section {}

.search-result-section__title {}

.movies {}

.novelty-section {}

.novelty-section__title {}

.new-movies {}

.footer {}

.footer__logo {}

.footer__logo-image {}

.footer__logo-title {}