 @use "../../abstracts" as *;
.movies {
  display: grid;

  gap: $gap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.movie {
  display: flex;
  align-content: center;
  justify-content: center;

  &__image {
    width: 100%;

    object-fit: cover;
  }
}
