@use "../../abstracts" as *;
.header__logo {

  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
  }

 &-image {
    max-width: 44px;
  }
}
  .header__title {
    padding-top: $gap-sm;
    font-size: 22px;
  }