  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

  }

  body {
    background-color: rgb(13, 13, 13);
    color: rgb(225, 225, 221);
    font-family: Josefin Sans, Verdana, Tahoma, sans-serif;
    letter-spacing: 0.05em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1,
  h2,
  h4 {
    font-weight: 700;
  }

  .container {
    width: min(100% - 40px, 1440px);
    margin-inline: auto;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  /* Header */
  .header {
    background: #833AB4;
    background: linear-gradient(90deg, #c43ce9 0%, #6232dc 100%);
    color: #000000;
    padding: 24px 80px;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .header__logo-image {
    max-width: 44px;
  }

  .header__title {
    padding-top: 8px;
    font-size: 22px;
  }

  .header__navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .header__navbar-link {
    font-weight: 600;
  }

  /* Main */
  .main {
    min-height: 100vh;
  }

  .search-section__title,
  .search__description,
  .search__group {
    margin-bottom: 16px;
  }

  .search__wrapper {
    margin-bottom: 60px;
  }

  .search__label-input {
    display: block;
    margin-bottom: 8px;
  }

  .search__input {
    display: block;
    background-color: rgb(225, 225, 221);
    height: 2rem;
    max-width: 300px;
    width: 100%;
    padding: 0.1em 0.5em;
    border: none;
    font-size: 1.125rem;
  }

  .search__input:focus {
    outline: 2px solid #c43ce9;
  }

  .search__group--checkbox {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .search__input-checkbox {
    width: 28px;
    height: 28px;
    accent-color: #c43ce9;
  }

  .search__label-checkbox {
    user-select: none;
  }

  .search-result-section__title {
    margin-bottom: 16px;
  }

  /* Movies */
  .movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .movie {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .movie__image {
    width: 100%;
    object-fit: cover;
  }

  /* Footer */
  .footer {
    background: #833AB4;
    background: linear-gradient(90deg, #c246fc 0%, #743ffb 100%);
    color: #000000;
    padding: 20px 30px;
  }

  .footer__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .footer__logo-image {
    max-width: 38px;
  }

  .footer__logo-title {
    font-size: 16px;
  }