@use "../../abstracts" as *;

.header__navbar {
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;

    gap: $gap-lg;
    @include sm {
      padding: 0;
    }
  }

  &-link {
    font-weight: 600;
  }
}
